<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <div class="container mb-3">
        <nav class="navbar bg-primary border-bottom navbar-expand-lg border-bottom-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <img src="images/vm-logo.png" alt="Bootstrap" width="200" height="50">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/vmaster/home">Домашня сторінка</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Журнали
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="openStreets()"><span>Вулиці</span></a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="#"><span>Міста</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/vmaster/listRepairs">Журнал ремонтів</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/vmaster/import-export">Імпорт/експорт</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Службові
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item active"
                                       href="/vmaster/settings"><span>Налаштування</span></a></li>
                                <li><a class="dropdown-item active" href="/vmaster/logs"><span>Логи сервера</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Номер заявки"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <!--        <span sec:authorize="hasAuthority('ADMIN')">-->
    <!--           | <a th:href="@{/users/all}">List of Users</a>-->
    <!--        </span>-->


    <div style="position: absolute; top: 10px; right: 20px;">
        <!--        <span>-->
        <!--            Hello <a th:href="@{|/users/${#authentication.details.id}/read|}" th:text="${#authentication.details.firstName}"></a>!-->
        <!--        </span> |-->
        <!--        <form th:action="@{/logout}" method="post" style="display: inline-block">-->
        <!--            <input type="submit" value="LogOut">-->
        <!--        </form>-->
    </div>
</div>