<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Register doc</title>
  <script src="../script/index.bundle.js"></script>
<!--    <script src="../script/app_common.bundle.js" async></script>-->
    <script src="include/SessionUtil"></script>
</head>
<body>
<!--<div th:insert="include/header.html"></div>-->
<script defer>
// setTimeout(window.toolbar.toolbarInit.then((fn)=>fn.render()), 2000)





</script>

<div id="createContentMenuContainer"></div>
<div class="report-table container border border-3 border-primary rounded-4 mb-3">

</div>

<div class="register-container"></div>



<script defer>

    $(document).ready(function() {
        $.ajax({
            url: "api/table",
            type: 'GET',
            data: {
                name: 'clients'
            },
        }).then(function(data) {
            $('.report-table').append(data);
            // $('.report-table').append(data.id);
        });
    });
    // renderDefaultToolbar('div#createContentMenuContainer');
    //
    // function renderDefaultToolbar(createMenuElement){
    //     window.toolbar.defaultToolbarInit({
    //         // page: '<%=request.getParameter("onpage")%>',
    //         // toggleStyle: '<%=toggleStyle %>',
    //         // navigationMenuContainer: 'div#navigationMenuContainer',
    //         // showContentButton: <%= showContentButton %>,
    //         // createContentMenuContainer: createMenuElement,
    //         // showToolbar: <%= showToolbar %>,
    //         // search: <%= search %>,
    //         // searchViewContainer: 'div.navigation-toolbar-holder div.toolbarSearch',
    //         // closeAction: '<%= closeAction %>',
    //         // closeActionEvent: '<%= closeAction %>:event'
    // });
    // }
</script>


</body>

</html>